---
layout: default
---
<div class="container container-about">
  {% include responsive-nav.html %}
  {% include header.html class="nav__ul--color" border="nav__cta--black" %}
  <div class="img-container">
    <img src="imgs/cat-lg.jpg" alt="A picture of a cat">
  </div>

  <div>
    <h3>Brian</h3>
    <div class="flex-container--about">
      <div>
        <p class="flex-container--about__p">Bio</p>
        <ul>
          <li>Video maker, translator</li>
          <li>English / Spanish</li>
          <li>Long Beach, California</li>
        </ul>
      </div>
      <div>
        <p>Hi, my name is Brian. I like cooking but I'm not a professional chef. I started cooking for myself when I moved out of home for university, and I started experimenting with new recipes. I worked in a restaurant once... washing dishes... but that's it!</p>
      </div>
    </div>
  </div>

  <div>
    <h3>Food</h3>
    <div class="flex-container--food">
      <div>
        <img src="{{ site.baseurl }}/imgs/burrito.jpg" alt="A picture of a burrito">
        <h3>Burrito</h3>
        <p>This burrito is the best god damn burrito I have every eaten in my whole life.</p>
      </div>
      <div>
        <img src="{{ site.baseurl }}/imgs/quesadilla.jpg" alt="A picture of a quesadilla">
        <h3>Quesadilla</h3>
        <p>This quesadilla is the best god damn quesadilla I have every eaten in my whole life.</p>
      </div>
      <div>
        <img src="{{ site.baseurl }}/imgs/tacos.jpg" alt="A picture of some tacos">
        <h3>Tacos</h3>
        <p>These tacos are the best god damn tacos I have every eaten in my whole life.</p>
      </div>
    </div>
  </div>
</div>
