---
layout: default
---

{% include responsive-nav.html class="responsive-nav__display--recipe" %}
<div class="container">
  {% include header.html class="nav__ul--color" %}

  <section class="recipes">
    <div class="recipes__div">
      <img src="imgs/burrito.jpg" alt="burrito">
      <p>burrito</p>
    </div>
    <div class="recipes__div">
      <img src="imgs/quesadilla.jpg" alt="quesadilla">
      <p>quesadilla</p>
    </div>
    <div class="recipes__div">
      <img src="imgs/tacos.jpg" alt="tacos">
      <p>tacos</p>
    </div>
    <div class="recipes__div">
      <img src="imgs/burrito.jpg" alt="burrito">
      <p>burrito</p>
    </div>
    <div class="recipes__div">
      <img src="imgs/burrito.jpg" alt="burrito">
      <p>burrito</p>
    </div>
    <div class="recipes__div">
      <img src="imgs/quesadilla.jpg" alt="quesadilla">
      <p>quesadilla</p>
    </div>
    <div class="recipes__div">
      <img src="imgs/tacos.jpg" alt="tacos">
      <p>tacos</p>
    </div>
    <div class="recipes__div">
      <img src="imgs/burrito.jpg" alt="burrito">
      <p>burrito</p>
    </div>
    <div class="recipes__div">
      <img src="imgs/burrito.jpg" alt="burrito">
      <p>burrito</p>
    </div>
    <div class="recipes__div">
      <img src="imgs/quesadilla.jpg" alt="quesadilla">
      <p>quesadilla</p>
    </div>
    <div class="recipes__div">
      <img src="imgs/tacos.jpg" alt="tacos">
      <p>tacos</p>
    </div>
    <div class="recipes__div">
      <img src="imgs/burrito.jpg" alt="burrito">
      <p>burrito</p>
    </div>
    <div class="recipes__div">
      <img src="imgs/burrito.jpg" alt="burrito">
      <p>burrito</p>
    </div>
    <div class="recipes__div">
      <img src="imgs/quesadilla.jpg" alt="quesadilla">
      <p>quesadilla</p>
    </div>
    <div class="recipes__div">
      <img src="imgs/tacos.jpg" alt="tacos">
      <p>tacos</p>
    </div>
    <div class="recipes__div">
      <img src="imgs/burrito.jpg" alt="burrito">
      <p>burrito</p>
    </div>
    <div class="recipes__div">
      <img src="imgs/tacos.jpg" alt="tacos">
      <p>tacos</p>
    </div>

    {% for post in site.categories['food'] %}
      <a href="{{ post.url }}">
        <div class="recipes__div">
          <img src="{{ post.item-picture }}" alt="{{ post.item-title }}">
          <p>{{ post.item-title }}</p>
        </div>
      </a>
    {% endfor %}
  </section>
  {% include footer.html class="footer--recipe" %}
</div>
