---
layout: default
---

{% include responsive-nav.html class="responsive-nav__display--recipe" %}
<div class="container">
  {% include header.html class="nav__ul--color" %}

  <section class="recipes">
    {% for item in site.recipes %}
      <a class="recipes__a" href="{{ site.baseurl }}{{ item.url }}">
        <div>
          <img src="{{ site.baseurl }}{{ item.item-picture }}" alt="{{ item.title }}">
          <p>{{ item.item-price }} {{ item.title }}</p>
        </div>
      </a>
    {% endfor %}
  </section>
  {% include footer.html class="footer--recipe" %}
</div>
