<footer class="{{ include.class }}">
  <ul class="footer__ul">
    <li class="social">
      <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </li>
    <li class="social">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </li>
  </ul>
  <ul class="footer__ul footer__nav">
    <li>
        <a href="{{ site.baseurl }}/">home</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/recipe.html">recipe</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/about.html">about</a>
    </li>
  </ul>
</footer>
