<header>
    <nav class="nav">
        <ul class="nav__ul">
            <li>{% include svg/floral.svg %}</li>
            <li>
                <a href="/">home</a>
            </li>
            <li>
                <a href="recipe.html">recipe</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}knives.html">knvies</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}equipment.html">equipment</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}knuckles.html">knuckles</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}about.html">about</a>
            </li>
        </ul>
    </nav>
    <nav class="nav">
        <ul class="nav__ul">
            <li class="nav__cta">brians kitchen</li>
            <li class="nav__social">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </li>
            <li class="nav__social">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </li>
        </ul>
    </nav>
</header>